img.logo {
  background: radial-gradient(#118975, #1ba791);
  border-radius: 5px;
}

.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
  opacity: 1 !important;
}

header.navbar {
  background: #f0f5f4;
  .links {
    background: transparent;
  }
}


.custom-block
  &.tip
    border-color: $accentColor;
